<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsf"
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>Projeto Java Web Completo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
  	<session-timeout>15</session-timeout> <!-- Invalida a sessão em 15 minutos -->
  	<tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <!-- Acesso negado do Spring Security -->
  <error-page>
  	<exception-type>org.springframework.security.access.AccessDeniedException</exception-type>
  	<location>/error/acessoNegado.jsf</location>
  </error-page>
  <!-- Url não encontrada -->
  <error-page>
  	<exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>
  	<location>/error/paginaNaoEncontrada.jsf</location>
  </error-page>
  <!-- 403: Acesso Negado -->
  <error-page>
  	<error-code>403</error-code>
  	<location>/error/AcessoNegado.jsf</location>
  </error-page>
  <!-- 404: Não consegue encontra o endereço -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsf</location>
  </error-page>
  <!-- 500: Error interno do servidor -->
   <error-page>
  	<error-code>500</error-code>
  	<location>/error/error.jsf</location>
  </error-page>
  <!-- Para a aplicação ser compativel com o JSP -->
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/**</url-pattern>
  		<el-ignored>false</el-ignored>
  	</jsp-property-group>
  </jsp-config>
  
  <!-- Aceitar comentarios no meio da pagina jsf -->
  <context-param>
  	<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  	<param-value>true</param-value>
  </context-param>
  <!-- Carregar componentes filhos -->
  <context-param>
  	<param-name>com.sun.faces.allowTextChildren</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<param-name>com.sun.faces.expressionFactory</param-name>
  	<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>
  
  <!-- Ler os arquivos do Spring -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>
  	/WEB-INF/applicationContext.xml
  	/WEB-INF/spring-servlet-servlet.xml
  	/WEB-INF/applicationContext-security.xml
  	</param-value>
  </context-param>
  
  <!-- Desliga o cache (Fez alguma alteração na pagina jsf, ela ja e compilada) -->
  <context-param>
  	<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
  	<param-value>0</param-value> <!-- Em segundos -->
  </context-param>
  <!-- extensoes aceitas -->
  <context-param>
  	<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  	<param-value>.xhtml .html .jsp</param-value>
  </context-param>
  <!-- Estagio do projeto -->
  <context-param>
  	<param-name>javax.faces.PROJECT_STAGE</param-name>
  	<param-value>Production</param-value>
  </context-param>
  <!-- Tema do jsf -->
  <context-param>
  	<param-name>primefaces.THEME</param-name>
  	<param-value>smoothness</param-value>
  </context-param>
  <!-- Filtro da aplicação -->
  <filter>
  	<filter-name>conexaoFilter</filter-name>
  	<filter-class>br.com.project.filter.FilterOpenSessionInView</filter-class>
  </filter>
  
  <!-- Filtro do Spring Security -->
  <filter>
  	<filter-name>springSecurityFilterChain</filter-name>
  	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
  	<filter-name>encoding-filter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>ISO-8859-1</param-value>
  	</init-param>
  </filter>
  
  <!-- Upload de imagens primefaces -->
  <filter>
  	<filter-name>PrimeFaces fileUpload Filter</filter-name>
  	<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encoding-filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>conexaoFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>springSecurityFilterChain</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>PrimeFaces fileUpload Filter</filter-name>
  	<servlet-name>Faces Servlets</servlet-name>
  	<url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>br.com.project.listener.ContextLoaderListenerCaixakiUtils</listener-class>
  </listener>
  
  <listener>
  	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>br.com.project.listener.CustomListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  
  <!-- DataSource -->
  <resource-ref>
  	<description>DataSource datasource</description>
  	<res-ref-name>jdbc/datasource</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
  	<servlet-name>spring-servlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>spring-servlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet do jsf -->
  <servlet>
  	<servlet-name>Faces Servlet</servlet-name>
  	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Faces Servlet</servlet-name>
  	<url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
	  
</web-app>